* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  font-family: 'Mayan';
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Mayan';
  src: url("fonts/Mayan.ttf");
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('img/Background/background1.jpg');
  background-repeat: no-repeat;

  @media (max-width: 980px) {
    justify-content: none;
    height: none;
  }
}

canvas {
  background: rgba(0, 0, 0, 0.397);
  display: block;

  @media (max-height: 500px) {
    height: 100vh;
  }
}

.allContent {
  width: 100%;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100dvh;
  justify-content: center;

  .impressumButton {
    margin-top: 1rem;

    @media (max-width: 980px) {
      display: none;
    }
  }
}


/*Smartphones*/
@media only screen and (max-width: 980px) {
  h1 {
    display: none;
  }

  canvas {
    width: 100%;
  }

  .main_content {
    width: 100%;
  }

  .allContent {
    justify-content: unset;
  }
}

.display {
  display: none;

  @media ((orientation: portrait) and (max-width: 980px)) {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgb(83, 50, 161);
    z-index: 50;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    text-align: center;
  }
}

.display_impressum {
  max-width: 900px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 55%;
  padding: 2rem;
  z-index: 50;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 12px;
  font-size: 18px;
  padding: 0 18px;
  line-height: 35px;

  .impressumHeader {
    display: flex;
    justify-content: space-between;

    #closeImpressum {
      margin-top: 1rem;
      width: 2rem;
      text-align: center;
      padding: 0;
    }
  }
}

.start_screen {
  width: 100%;
  height: 480px;

  @media (max-height: 500px) {
    height: 100vh;
  }
}

.main_content {
  display: flex;
  max-width: 100%;
  justify-content: unset;
  flex-direction: column;
  align-items: center;
}

.controls {
  width: 720px;
  margin-top: 2rem;
  color: black;
  font-size: 18px;
  display: flex;
  align-items: center;
  flex-direction: column;

  @media (max-width: 980px) {
    display: none;
  }
    .volumeControl{
    @media (max-width: 1366px) {
      display: none;
    }
  }

  .key_assignments {
    background-color: #fbeee0c5;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  span {
    color: black;
    text-align: center;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    padding: 1rem;

    .key {
      text-align: center;
      background-color: #fbeee0;
      border: 2px solid #422800;
      border-radius: 30px;
      color: #422800;
      display: inline-block;
      font-weight: 600;
      font-size: 18px;
      padding: 0 18px;
      line-height: 50px;
    }
  }
}



.start_game_button {
  margin-top: 2rem;
  z-index: 20;
  position: absolute;
}

.restart_game_button {
  margin-top: 14rem;
  z-index: 20;
  position: absolute;
}

#hud {
  max-width: 720px;
  position: relative;
  bottom: 5rem;
  z-index: 23;
  display: none;
  justify-content: space-between;

  @media (max-width: 1366px) {
    display: block;
    width: 100%;
  }

  .touchControls {
    display: flex;
    justify-content: space-between;
  }
}

.d_none {
  display: none;
}

.controlHud {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  padding: 0 25px;
  line-height: 62px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  background-color: #fff;
}

button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}