* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  background-image: url('img/Background/background1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

canvas {
  background: rgba(0, 0, 0, 0.397);
}

.start_screen {
  display: flex;
  width: 720px;
  height: 480px;
}

.main_content {
  display: flex;
  justify-content: unset;
  flex-direction: column;
  align-items: center;
}

  .controls {
    color: black;
    font-size: 18px;
    display: flex;
    align-items: center;
    flex-direction: column;

    .key_assignments {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 820px;
    }

    span {
      color: black;
      text-align: center;
      font-size: 24px;
      display: flex;
      flex-direction: column;

      .key {
        text-align: center;
        background-color: #fbeee0;
        border: 2px solid #422800;
        border-radius: 30px;
        color: #422800;
        display: inline-block;
        font-weight: 600;
        font-size: 18px;
        padding: 0 18px;
        line-height: 50px;
      }
    }
  }


  .start_game_button {
    margin-top: 2rem;
    z-index: 20;
    position: absolute;
  }
.d_none {
  display: none;
}

button {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  background-color: #fff;
}

button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}